<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="BufferSizeInBytes" value="250000"/>
		<add key="HideFileNames" value="true"/>
		<add key="EncryptedFilePrefix" value="DataSafe"/>
		<!-- Can be AboveNormal, BelowNormal, Highest, Lowest or Normal-->
		<add key="EncryptionThreadPriority" value="Normal"/>
		<add key="AlwaysOnTop" value="false"/>
		<add key="StartHidden" value="true"/>
		<!-- Wipe the source file completely using a series of overwrites -->
		<add key="WipeSourceFiles" value="true"/>
		<add key="WipeSourceFilesPasses" value="2"/>		
	</appSettings>
 <system.serviceModel>
  <client>
   <endpoint address="net.pipe://localhost/DataSafeInterface" binding="netNamedPipeBinding" bindingConfiguration="" contract="DataSafeLibrary.IDataSafeInterface" name="DataSafeInterfaceClient">
   </endpoint>
  </client>
  <services>
   <service name="DataSafeLibrary.DataSafeInterface">
    <endpoint address="net.pipe://localhost/DataSafeInterface" binding="netNamedPipeBinding" bindingConfiguration="" name="DataSafeInterfaceEpConfig" contract="DataSafeLibrary.IDataSafeInterface"/>
   </service>
  </services>
 </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
