<?xml version="1.0"?>
<configuration>
	<system.serviceModel>
		<client>
			<endpoint address="net.pipe://localhost/DataSafeInterface" binding="netNamedPipeBinding" bindingConfiguration="" contract="DataSafeLibrary.IDataSafeInterface" name="DataSafeInterfaceClient">
			</endpoint>
		</client>
		<services>
			<service name="DataSafeLibrary.DataSafeInterface">
				<endpoint address="net.pipe://localhost/DataSafeInterface" binding="netNamedPipeBinding" bindingConfiguration="" name="DataSafeInterfaceEpConfig" contract="DataSafeLibrary.IDataSafeInterface"/>
			</service>
		</services>
	</system.serviceModel>
</configuration>
